<! DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
</head>
<body>
<form method="POST" action="/admin"
<label for="secretpassword">Enter Admin Password: </label>
<input id="secretpassword" type="password" name="secretpassword" placeholder="Admin Password">
<button type="submit">Submit</button>
</form>
</body>
</html>
