<! DOCTYPE html>
<html>
<head>
<title>Member Form</title>
</head>
<body>
<form method="POST" action="/member"
<label for="secretpassword">Enter Secret Password: </label>
<input id="secretpassword" type="password" name="secretpassword" placeholder="Secret Password">
<button type="submit">Submit</button>
</form>
</body>
</html>
