<! DOCTYPE html>
<html>
<head>
<title>Message Form</title>
</head>
<body>
<form method="POST" action="/message"
<label for="title">Enter Title: </label>
<input id="title" type="text" name="title" placeholder="title">
<label for="body"> Message: </label>
<input id="body" type="text" name="body" placeholder="Enter your Message">
<button type="submit">Submit</button>
</form>
</body>
</html>
